<header id="header">
        <nav class="menu">
            <div class="logo-nav-box">
                <div class="logo-box">
                    <h1><a href="#" class="logoHoliMori">Holi-Mori</a></h1>
                    <span class="btn-menu"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <div class="nav-container">
                <div class="nav-list-left-container">
                    <ul class = "nav-list-left">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Precios</a></li>
                    </ul>
                </div>
                <div class="nav-list-right-container">
                    <ul class="nav-list-right" >
                        <li ><a href="#">Iniciar sesión</a></li>
                        <li ><a href="#" class="active">Registrate</a></li> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
