<header id="header">
        <nav class="menu">
            <div class="logo-nav-box">
                <div class="logo-box">
                    {{!-- <img src="/img/logo.svg" alt="LOGO EMPRESA" class="p-2 w-10 h-10 md:w-10 md:h-10 rounded"> --}}
                    {{!<h1><a href="#" class="logoHoliMori">Holi-Mori</a></h1>--}}
            
                    <img src="/img/logoHoliMori.png" alt="Logo p" class="LogoHoliMori">
                    <span class="btn-menu"><i class="fas fa-bars"></i></span>
                </div>
            </div>
            <div class="nav-container">
                
                <ul class = "nav-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Precios</a></li>
                    <li ><a href="#" class="active" >Iniciar sesión</a></li>
                    <li ><a href="#" class="active">Registrate</a></li> 
                </ul> 
            </div>
        </nav>
    </header>
