<main class="bg-gray-100 flex flex-col">
    <div class="bg-yellow-100">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-200">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-300">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-400">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-500">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-600">
        <p></p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-700">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
    <div class="bg-yellow-800">
        <p>$</p>
        <p>$</p>
        <p>$</p>
        <p>$</p>
    </div>
</main>